# Import and Export Files

# Challenge 0 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [7]:
# your code here

import mysql.connector
import getpass

import pandas as pd

In [2]:
password = getpass.getpass()

········

In [3]:
cnx = mysql.connector.connect(user = "root",
                              password = password,
                              host = "localhost",
                              database = "sakila")

In [12]:
cnx.is_connected()

True

In [13]:
cursor = cnx.cursor()

In [19]:
query = ('''SELECT *
FROM sakila.customer;''')

In [20]:
cursor.execute(query)

In [21]:
q_result = cursor.fetchall()
q_result

[(1,
  1,
  'MARY',
  'SMITH',
  'MARY.SMITH@sakilacustomer.org',
  5,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (2,
  1,
  'PATRICIA',
  'JOHNSON',
  'PATRICIA.JOHNSON@sakilacustomer.org',
  6,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (3,
  1,
  'LINDA',
  'WILLIAMS',
  'LINDA.WILLIAMS@sakilacustomer.org',
  7,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (4,
  2,
  'BARBARA',
  'JONES',
  'BARBARA.JONES@sakilacustomer.org',
  8,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (5,
  1,
  'ELIZABETH',
  'BROWN',
  'ELIZABETH.BROWN@sakilacustomer.org',
  9,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (6,
  2,
  'JENNIFER',
  'DAVIS',
  'JENNIFER.DAVIS@sakilacustomer.org',
  10,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (7,
  1,
  'MARIA',
  'MILLER',
  'MARIA.MILLER@sakilacustomer.org',
  11,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (8,
  2,
  'SUSAN',
  'WILSON',
  'SUSAN.WILSON@sakilacustomer.org',
  12,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (9,
  2,
  'MARGARET',
  'MOORE',
  'MARGARET.MOORE@sakilacustomer.org',
  13,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (10,
  1,
  'DOROTHY',
  'TAYLOR',
  'DOROTHY.TAYLOR@sakilacustomer.org',
  14,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (11,
  2,
  'LISA',
  'ANDERSON',
  'LISA.ANDERSON@sakilacustomer.org',
  15,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (12,
  1,
  'NANCY',
  'THOMAS',
  'NANCY.THOMAS@sakilacustomer.org',
  16,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (13,
  2,
  'KAREN',
  'JACKSON',
  'KAREN.JACKSON@sakilacustomer.org',
  17,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (14,
  2,
  'BETTY',
  'WHITE',
  'BETTY.WHITE@sakilacustomer.org',
  18,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (15,
  1,
  'HELEN',
  'HARRIS',
  'HELEN.HARRIS@sakilacustomer.org',
  19,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (16,
  2,
  'SANDRA',
  'MARTIN',
  'SANDRA.MARTIN@sakilacustomer.org',
  20,
  0,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (17,
  1,
  'DONNA',
  'THOMPSON',
  'DONNA.THOMPSON@sakilacustomer.org',
  21,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (18,
  2,
  'CAROL',
  'GARCIA',
  'CAROL.GARCIA@sakilacustomer.org',
  22,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (19,
  1,
  'RUTH',
  'MARTINEZ',
  'RUTH.MARTINEZ@sakilacustomer.org',
  23,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (20,
  2,
  'SHARON',
  'ROBINSON',
  'SHARON.ROBINSON@sakilacustomer.org',
  24,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (21,
  1,
  'MICHELLE',
  'CLARK',
  'MICHELLE.CLARK@sakilacustomer.org',
  25,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (22,
  1,
  'LAURA',
  'RODRIGUEZ',
  'LAURA.RODRIGUEZ@sakilacustomer.org',
  26,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (23,
  2,
  'SARAH',
  'LEWIS',
  'SARAH.LEWIS@sakilacustomer.org',
  27,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (24,
  2,
  'KIMBERLY',
  'LEE',
  'KIMBERLY.LEE@sakilacustomer.org',
  28,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (25,
  1,
  'DEBORAH',
  'WALKER',
  'DEBORAH.WALKER@sakilacustomer.org',
  29,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (26,
  2,
  'JESSICA',
  'HALL',
  'JESSICA.HALL@sakilacustomer.org',
  30,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (27,
  2,
  'SHIRLEY',
  'ALLEN',
  'SHIRLEY.ALLEN@sakilacustomer.org',
  31,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (28,
  1,
  'CYNTHIA',
  'YOUNG',
  'CYNTHIA.YOUNG@sakilacustomer.org',
  32,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (29,
  2,
  'ANGELA',
  'HERNANDEZ',
  'ANGELA.HERNANDEZ@sakilacustomer.org',
  33,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (30,
  1,
  'MELISSA',
  'KING',
  'MELISSA.KING@sakilacustomer.org',
  34,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (31,
  2,
  'BRENDA',
  'WRIGHT',
  'BRENDA.WRIGHT@sakilacustomer.org',
  35,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (32,
  1,
  'AMY',
  'LOPEZ',
  'AMY.LOPEZ@sakilacustomer.org',
  36,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (33,
  2,
  'ANNA',
  'HILL',
  'ANNA.HILL@sakilacustomer.org',
  37,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (34,
  2,
  'REBECCA',
  'SCOTT',
  'REBECCA.SCOTT@sakilacustomer.org',
  38,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (35,
  2,
  'VIRGINIA',
  'GREEN',
  'VIRGINIA.GREEN@sakilacustomer.org',
  39,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (36,
  2,
  'KATHLEEN',
  'ADAMS',
  'KATHLEEN.ADAMS@sakilacustomer.org',
  40,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (37,
  1,
  'PAMELA',
  'BAKER',
  'PAMELA.BAKER@sakilacustomer.org',
  41,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (38,
  1,
  'MARTHA',
  'GONZALEZ',
  'MARTHA.GONZALEZ@sakilacustomer.org',
  42,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (39,
  1,
  'DEBRA',
  'NELSON',
  'DEBRA.NELSON@sakilacustomer.org',
  43,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (40,
  2,
  'AMANDA',
  'CARTER',
  'AMANDA.CARTER@sakilacustomer.org',
  44,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (41,
  1,
  'STEPHANIE',
  'MITCHELL',
  'STEPHANIE.MITCHELL@sakilacustomer.org',
  45,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (42,
  2,
  'CAROLYN',
  'PEREZ',
  'CAROLYN.PEREZ@sakilacustomer.org',
  46,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (43,
  2,
  'CHRISTINE',
  'ROBERTS',
  'CHRISTINE.ROBERTS@sakilacustomer.org',
  47,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (44,
  1,
  'MARIE',
  'TURNER',
  'MARIE.TURNER@sakilacustomer.org',
  48,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (45,
  1,
  'JANET',
  'PHILLIPS',
  'JANET.PHILLIPS@sakilacustomer.org',
  49,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (46,
  2,
  'CATHERINE',
  'CAMPBELL',
  'CATHERINE.CAMPBELL@sakilacustomer.org',
  50,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (47,
  1,
  'FRANCES',
  'PARKER',
  'FRANCES.PARKER@sakilacustomer.org',
  51,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (48,
  1,
  'ANN',
  'EVANS',
  'ANN.EVANS@sakilacustomer.org',
  52,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (49,
  2,
  'JOYCE',
  'EDWARDS',
  'JOYCE.EDWARDS@sakilacustomer.org',
  53,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (50,
  1,
  'DIANE',
  'COLLINS',
  'DIANE.COLLINS@sakilacustomer.org',
  54,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (51,
  1,
  'ALICE',
  'STEWART',
  'ALICE.STEWART@sakilacustomer.org',
  55,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (52,
  1,
  'JULIE',
  'SANCHEZ',
  'JULIE.SANCHEZ@sakilacustomer.org',
  56,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (53,
  1,
  'HEATHER',
  'MORRIS',
  'HEATHER.MORRIS@sakilacustomer.org',
  57,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (54,
  1,
  'TERESA',
  'ROGERS',
  'TERESA.ROGERS@sakilacustomer.org',
  58,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (55,
  2,
  'DORIS',
  'REED',
  'DORIS.REED@sakilacustomer.org',
  59,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (56,
  1,
  'GLORIA',
  'COOK',
  'GLORIA.COOK@sakilacustomer.org',
  60,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (57,
  2,
  'EVELYN',
  'MORGAN',
  'EVELYN.MORGAN@sakilacustomer.org',
  61,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (58,
  1,
  'JEAN',
  'BELL',
  'JEAN.BELL@sakilacustomer.org',
  62,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (59,
  1,
  'CHERYL',
  'MURPHY',
  'CHERYL.MURPHY@sakilacustomer.org',
  63,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (60,
  1,
  'MILDRED',
  'BAILEY',
  'MILDRED.BAILEY@sakilacustomer.org',
  64,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (61,
  2,
  'KATHERINE',
  'RIVERA',
  'KATHERINE.RIVERA@sakilacustomer.org',
  65,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (62,
  1,
  'JOAN',
  'COOPER',
  'JOAN.COOPER@sakilacustomer.org',
  66,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (63,
  1,
  'ASHLEY',
  'RICHARDSON',
  'ASHLEY.RICHARDSON@sakilacustomer.org',
  67,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (64,
  2,
  'JUDITH',
  'COX',
  'JUDITH.COX@sakilacustomer.org',
  68,
  0,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (65,
  2,
  'ROSE',
  'HOWARD',
  'ROSE.HOWARD@sakilacustomer.org',
  69,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (66,
  2,
  'JANICE',
  'WARD',
  'JANICE.WARD@sakilacustomer.org',
  70,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (67,
  1,
  'KELLY',
  'TORRES',
  'KELLY.TORRES@sakilacustomer.org',
  71,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (68,
  1,
  'NICOLE',
  'PETERSON',
  'NICOLE.PETERSON@sakilacustomer.org',
  72,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (69,
  2,
  'JUDY',
  'GRAY',
  'JUDY.GRAY@sakilacustomer.org',
  73,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (70,
  2,
  'CHRISTINA',
  'RAMIREZ',
  'CHRISTINA.RAMIREZ@sakilacustomer.org',
  74,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (71,
  1,
  'KATHY',
  'JAMES',
  'KATHY.JAMES@sakilacustomer.org',
  75,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (72,
  2,
  'THERESA',
  'WATSON',
  'THERESA.WATSON@sakilacustomer.org',
  76,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (73,
  2,
  'BEVERLY',
  'BROOKS',
  'BEVERLY.BROOKS@sakilacustomer.org',
  77,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (74,
  1,
  'DENISE',
  'KELLY',
  'DENISE.KELLY@sakilacustomer.org',
  78,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (75,
  2,
  'TAMMY',
  'SANDERS',
  'TAMMY.SANDERS@sakilacustomer.org',
  79,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (76,
  2,
  'IRENE',
  'PRICE',
  'IRENE.PRICE@sakilacustomer.org',
  80,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (77,
  2,
  'JANE',
  'BENNETT',
  'JANE.BENNETT@sakilacustomer.org',
  81,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (78,
  1,
  'LORI',
  'WOOD',
  'LORI.WOOD@sakilacustomer.org',
  82,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (79,
  1,
  'RACHEL',
  'BARNES',
  'RACHEL.BARNES@sakilacustomer.org',
  83,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (80,
  1,
  'MARILYN',
  'ROSS',
  'MARILYN.ROSS@sakilacustomer.org',
  84,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (81,
  1,
  'ANDREA',
  'HENDERSON',
  'ANDREA.HENDERSON@sakilacustomer.org',
  85,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (82,
  1,
  'KATHRYN',
  'COLEMAN',
  'KATHRYN.COLEMAN@sakilacustomer.org',
  86,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (83,
  1,
  'LOUISE',
  'JENKINS',
  'LOUISE.JENKINS@sakilacustomer.org',
  87,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (84,
  2,
  'SARA',
  'PERRY',
  'SARA.PERRY@sakilacustomer.org',
  88,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (85,
  2,
  'ANNE',
  'POWELL',
  'ANNE.POWELL@sakilacustomer.org',
  89,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (86,
  2,
  'JACQUELINE',
  'LONG',
  'JACQUELINE.LONG@sakilacustomer.org',
  90,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (87,
  1,
  'WANDA',
  'PATTERSON',
  'WANDA.PATTERSON@sakilacustomer.org',
  91,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (88,
  2,
  'BONNIE',
  'HUGHES',
  'BONNIE.HUGHES@sakilacustomer.org',
  92,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (89,
  1,
  'JULIA',
  'FLORES',
  'JULIA.FLORES@sakilacustomer.org',
  93,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (90,
  2,
  'RUBY',
  'WASHINGTON',
  'RUBY.WASHINGTON@sakilacustomer.org',
  94,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (91,
  2,
  'LOIS',
  'BUTLER',
  'LOIS.BUTLER@sakilacustomer.org',
  95,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (92,
  2,
  'TINA',
  'SIMMONS',
  'TINA.SIMMONS@sakilacustomer.org',
  96,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (93,
  1,
  'PHYLLIS',
  'FOSTER',
  'PHYLLIS.FOSTER@sakilacustomer.org',
  97,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (94,
  1,
  'NORMA',
  'GONZALES',
  'NORMA.GONZALES@sakilacustomer.org',
  98,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (95,
  2,
  'PAULA',
  'BRYANT',
  'PAULA.BRYANT@sakilacustomer.org',
  99,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (96,
  1,
  'DIANA',
  'ALEXANDER',
  'DIANA.ALEXANDER@sakilacustomer.org',
  100,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (97,
  2,
  'ANNIE',
  'RUSSELL',
  'ANNIE.RUSSELL@sakilacustomer.org',
  101,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (98,
  1,
  'LILLIAN',
  'GRIFFIN',
  'LILLIAN.GRIFFIN@sakilacustomer.org',
  102,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (99,
  2,
  'EMILY',
  'DIAZ',
  'EMILY.DIAZ@sakilacustomer.org',
  103,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (100,
  1,
  'ROBIN',
  'HAYES',
  'ROBIN.HAYES@sakilacustomer.org',
  104,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (101,
  1,
  'PEGGY',
  'MYERS',
  'PEGGY.MYERS@sakilacustomer.org',
  105,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (102,
  1,
  'CRYSTAL',
  'FORD',
  'CRYSTAL.FORD@sakilacustomer.org',
  106,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (103,
  1,
  'GLADYS',
  'HAMILTON',
  'GLADYS.HAMILTON@sakilacustomer.org',
  107,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (104,
  1,
  'RITA',
  'GRAHAM',
  'RITA.GRAHAM@sakilacustomer.org',
  108,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (105,
  1,
  'DAWN',
  'SULLIVAN',
  'DAWN.SULLIVAN@sakilacustomer.org',
  109,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (106,
  1,
  'CONNIE',
  'WALLACE',
  'CONNIE.WALLACE@sakilacustomer.org',
  110,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (107,
  1,
  'FLORENCE',
  'WOODS',
  'FLORENCE.WOODS@sakilacustomer.org',
  111,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (108,
  1,
  'TRACY',
  'COLE',
  'TRACY.COLE@sakilacustomer.org',
  112,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (109,
  2,
  'EDNA',
  'WEST',
  'EDNA.WEST@sakilacustomer.org',
  113,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (110,
  2,
  'TIFFANY',
  'JORDAN',
  'TIFFANY.JORDAN@sakilacustomer.org',
  114,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (111,
  1,
  'CARMEN',
  'OWENS',
  'CARMEN.OWENS@sakilacustomer.org',
  115,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (112,
  2,
  'ROSA',
  'REYNOLDS',
  'ROSA.REYNOLDS@sakilacustomer.org',
  116,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (113,
  2,
  'CINDY',
  'FISHER',
  'CINDY.FISHER@sakilacustomer.org',
  117,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (114,
  2,
  'GRACE',
  'ELLIS',
  'GRACE.ELLIS@sakilacustomer.org',
  118,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (115,
  1,
  'WENDY',
  'HARRISON',

In [23]:
customers = pd.DataFrame(q_result)
customers

,0,1,2,3,4,5,6,7,8
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36,2006-02-15 04:57:20
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,1,2006-02-14 22:04:36,2006-02-15 04:57:20
3,4,2,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,8,1,2006-02-14 22:04:36,2006-02-15 04:57:20
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36,2006-02-15 04:57:20
...,...,...,...,...,...,...,...,...,...
594,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,1,2006-02-14 22:04:37,2006-02-15 04:57:20
595,596,1,ENRIQUE,FORSYTHE,ENRIQUE.FORSYTHE@sakilacustomer.org,602,1,2006-02-14 22:04:37,2006-02-15 04:57:20
596,597,1,FREDDIE,DUGGAN,FREDDIE.DUGGAN@sakilacustomer.org,603,1,2006-02-14 22:04:37,2006-02-15 04:57:20
597,598,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
598,599,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20

In [26]:
query = ('''SELECT customer.customer_id, customer.first_name, customer.last_name, rental.rental_id, rental.rental_date, rental.return_date
FROM sakila.customer
JOIN rental ON customer.customer_id = rental.customer_id;''')

In [27]:
cursor.execute(query)

In [28]:
q_result = cursor.fetchall()
q_result

[(1,
  'MARY',
  'SMITH',
  76,
  datetime.datetime(2005, 5, 25, 11, 30, 37),
  datetime.datetime(2005, 6, 3, 12, 0, 37)),
 (1,
  'MARY',
  'SMITH',
  573,
  datetime.datetime(2005, 5, 28, 10, 35, 23),
  datetime.datetime(2005, 6, 3, 6, 32, 23)),
 (1,
  'MARY',
  'SMITH',
  1185,
  datetime.datetime(2005, 6, 15, 0, 54, 12),
  datetime.datetime(2005, 6, 23, 2, 42, 12)),
 (1,
  'MARY',
  'SMITH',
  1422,
  datetime.datetime(2005, 6, 15, 18, 2, 53),
  datetime.datetime(2005, 6, 19, 15, 54, 53)),
 (1,
  'MARY',
  'SMITH',
  1476,
  datetime.datetime(2005, 6, 15, 21, 8, 46),
  datetime.datetime(2005, 6, 25, 2, 26, 46)),
 (1,
  'MARY',
  'SMITH',
  1725,
  datetime.datetime(2005, 6, 16, 15, 18, 57),
  datetime.datetime(2005, 6, 17, 21, 5, 57)),
 (1,
  'MARY',
  'SMITH',
  2308,
  datetime.datetime(2005, 6, 18, 8, 41, 48),
  datetime.datetime(2005, 6, 22, 3, 36, 48)),
 (1,
  'MARY',
  'SMITH',
  2363,
  datetime.datetime(2005, 6, 18, 13, 33, 59),
  datetime.datetime(2005, 6, 19, 17, 40, 59)),
 (1,
  'MARY',
  'SMITH',
  3284,
  datetime.datetime(2005, 6, 21, 6, 24, 45),
  datetime.datetime(2005, 6, 28, 3, 28, 45)),
 (1,
  'MARY',
  'SMITH',
  4526,
  datetime.datetime(2005, 7, 8, 3, 17, 5),
  datetime.datetime(2005, 7, 14, 1, 19, 5)),
 (1,
  'MARY',
  'SMITH',
  4611,
  datetime.datetime(2005, 7, 8, 7, 33, 56),
  datetime.datetime(2005, 7, 12, 13, 25, 56)),
 (1,
  'MARY',
  'SMITH',
  5244,
  datetime.datetime(2005, 7, 9, 13, 24, 7),
  datetime.datetime(2005, 7, 14, 14, 1, 7)),
 (1,
  'MARY',
  'SMITH',
  5326,
  datetime.datetime(2005, 7, 9, 16, 38, 1),
  datetime.datetime(2005, 7, 13, 18, 2, 1)),
 (1,
  'MARY',
  'SMITH',
  6163,
  datetime.datetime(2005, 7, 11, 10, 13, 46),
  datetime.datetime(2005, 7, 19, 13, 15, 46)),
 (1,
  'MARY',
  'SMITH',
  7273,
  datetime.datetime(2005, 7, 27, 11, 31, 22),
  datetime.datetime(2005, 7, 31, 6, 50, 22)),
 (1,
  'MARY',
  'SMITH',
  7841,
  datetime.datetime(2005, 7, 28, 9, 4, 45),
  datetime.datetime(2005, 7, 30, 12, 37, 45)),
 (1,
  'MARY',
  'SMITH',
  8033,
  datetime.datetime(2005, 7, 28, 16, 18, 23),
  datetime.datetime(2005, 7, 30, 17, 56, 23)),
 (1,
  'MARY',
  'SMITH',
  8074,
  datetime.datetime(2005, 7, 28, 17, 33, 39),
  datetime.datetime(2005, 7, 29, 20, 17, 39)),
 (1,
  'MARY',
  'SMITH',
  8116,
  datetime.datetime(2005, 7, 28, 19, 20, 7),
  datetime.datetime(2005, 7, 29, 22, 54, 7)),
 (1,
  'MARY',
  'SMITH',
  8326,
  datetime.datetime(2005, 7, 29, 3, 58, 49),
  datetime.datetime(2005, 8, 1, 5, 16, 49)),
 (1,
  'MARY',
  'SMITH',
  9571,
  datetime.datetime(2005, 7, 31, 2, 42, 18),
  datetime.datetime(2005, 8, 2, 23, 26, 18)),
 (1,
  'MARY',
  'SMITH',
  10437,
  datetime.datetime(2005, 8, 1, 8, 51, 4),
  datetime.datetime(2005, 8, 10, 12, 12, 4)),
 (1,
  'MARY',
  'SMITH',
  11299,
  datetime.datetime(2005, 8, 2, 15, 36, 52),
  datetime.datetime(2005, 8, 10, 16, 40, 52)),
 (1,
  'MARY',
  'SMITH',
  11367,
  datetime.datetime(2005, 8, 2, 18, 1, 38),
  datetime.datetime(2005, 8, 4, 13, 19, 38)),
 (1,
  'MARY',
  'SMITH',
  11824,
  datetime.datetime(2005, 8, 17, 12, 37, 54),
  datetime.datetime(2005, 8, 19, 10, 11, 54)),
 (1,
  'MARY',
  'SMITH',
  12250,
  datetime.datetime(2005, 8, 18, 3, 57, 29),
  datetime.datetime(2005, 8, 22, 23, 5, 29)),
 (1,
  'MARY',
  'SMITH',
  13068,
  datetime.datetime(2005, 8, 19, 9, 55, 16),
  datetime.datetime(2005, 8, 20, 14, 44, 16)),
 (1,
  'MARY',
  'SMITH',
  13176,
  datetime.datetime(2005, 8, 19, 13, 56, 54),
  datetime.datetime(2005, 8, 23, 8, 50, 54)),
 (1,
  'MARY',
  'SMITH',
  14762,
  datetime.datetime(2005, 8, 21, 23, 33, 57),
  datetime.datetime(2005, 8, 23, 1, 30, 57)),
 (1,
  'MARY',
  'SMITH',
  14825,
  datetime.datetime(2005, 8, 22, 1, 27, 57),
  datetime.datetime(2005, 8, 27, 7, 1, 57)),
 (1,
  'MARY',
  'SMITH',
  15298,
  datetime.datetime(2005, 8, 22, 19, 41, 37),
  datetime.datetime(2005, 8, 28, 22, 49, 37)),
 (1,
  'MARY',
  'SMITH',
  15315,
  datetime.datetime(2005, 8, 22, 20, 3, 46),
  datetime.datetime(2005, 8, 30, 1, 51, 46)),
 (2,
  'PATRICIA',
  'JOHNSON',
  320,
  datetime.datetime(2005, 5, 27, 0, 9, 24),
  datetime.datetime(2005, 5, 28, 4, 30, 24)),
 (2,
  'PATRICIA',
  'JOHNSON',
  2128,
  datetime.datetime(2005, 6, 17, 20, 54, 58),
  datetime.datetime(2005, 6, 24, 0, 41, 58)),
 (2,
  'PATRICIA',
  'JOHNSON',
  5636,
  datetime.datetime(2005, 7, 10, 6, 31, 24),
  datetime.datetime(2005, 7, 13, 2, 36, 24)),
 (2,
  'PATRICIA',
  'JOHNSON',
  5755,
  datetime.datetime(2005, 7, 10, 12, 38, 56),
  datetime.datetime(2005, 7, 19, 17, 2, 56)),
 (2,
  'PATRICIA',
  'JOHNSON',
  7346,
  datetime.datetime(2005, 7, 27, 14, 30, 42),
  datetime.datetime(2005, 8, 2, 16, 48, 42)),
 (2,
  'PATRICIA',
  'JOHNSON',
  7376,
  datetime.datetime(2005, 7, 27, 15, 23, 2),
  datetime.datetime(2005, 8, 4, 10, 35, 2)),
 (2,
  'PATRICIA',
  'JOHNSON',
  7459,
  datetime.datetime(2005, 7, 27, 18, 40, 20),
  datetime.datetime(2005, 8, 2, 21, 7, 20)),
 (2,
  'PATRICIA',
  'JOHNSON',
  8230,
  datetime.datetime(2005, 7, 29, 0, 12, 59),
  datetime.datetime(2005, 8, 6, 19, 52, 59)),
 (2,
  'PATRICIA',
  'JOHNSON',
  8598,
  datetime.datetime(2005, 7, 29, 12, 56, 59),
  datetime.datetime(2005, 8, 1, 8, 39, 59)),
 (2,
  'PATRICIA',
  'JOHNSON',
  8705,
  datetime.datetime(2005, 7, 29, 17, 14, 29),
  datetime.datetime(2005, 8, 2, 16, 1, 29)),
 (2,
  'PATRICIA',
  'JOHNSON',
  9031,
  datetime.datetime(2005, 7, 30, 6, 6, 10),
  datetime.datetime(2005, 8, 4, 10, 45, 10)),
 (2,
  'PATRICIA',
  'JOHNSON',
  9236,
  datetime.datetime(2005, 7, 30, 13, 47, 43),
  datetime.datetime(2005, 8, 8, 18, 52, 43)),
 (2,
  'PATRICIA',
  'JOHNSON',
  9248,
  datetime.datetime(2005, 7, 30, 14, 14, 11),
  datetime.datetime(2005, 8, 5, 11, 19, 11)),
 (2,
  'PATRICIA',
  'JOHNSON',
  9296,
  datetime.datetime(2005, 7, 30, 16, 21, 13),
  datetime.datetime(2005, 8, 8, 11, 57, 13)),
 (2,
  'PATRICIA',
  'JOHNSON',
  9465,
  datetime.datetime(2005, 7, 30, 22, 39, 53),
  datetime.datetime(2005, 8, 6, 16, 43, 53)),
 (2,
  'PATRICIA',
  'JOHNSON',
  10136,
  datetime.datetime(2005, 7, 31, 21, 58, 56),
  datetime.datetime(2005, 8, 3, 19, 44, 56)),
 (2,
  'PATRICIA',
  'JOHNSON',
  10466,
  datetime.datetime(2005, 8, 1, 9, 45, 26),
  datetime.datetime(2005, 8, 6, 6, 28, 26)),
 (2,
  'PATRICIA',
  'JOHNSON',
  10918,
  datetime.datetime(2005, 8, 2, 2, 10, 56),
  datetime.datetime(2005, 8, 2, 21, 23, 56)),
 (2,
  'PATRICIA',
  'JOHNSON',
  11087,
  datetime.datetime(2005, 8, 2, 7, 41, 41),
  datetime.datetime(2005, 8, 10, 10, 37, 41)),
 (2,
  'PATRICIA',
  'JOHNSON',
  11177,
  datetime.datetime(2005, 8, 2, 10, 43, 48),
  datetime.datetime(2005, 8, 10, 10, 55, 48)),
 (2,
  'PATRICIA',
  'JOHNSON',
  11256,
  datetime.datetime(2005, 8, 2, 13, 44, 53),
  datetime.datetime(2005, 8, 4, 16, 39, 53)),
 (2,
  'PATRICIA',
  'JOHNSON',
  11614,
  datetime.datetime(2005, 8, 17, 3, 52, 18),
  datetime.datetime(2005, 8, 20, 7, 4, 18)),
 (2,
  'PATRICIA',
  'JOHNSON',
  12963,
  datetime.datetime(2005, 8, 19, 6, 26, 4),
  datetime.datetime(2005, 8, 23, 11, 37, 4)),
 (2,
  'PATRICIA',
  'JOHNSON',
  14475,
  datetime.datetime(2005, 8, 21, 13, 24, 32),
  datetime.datetime(2005, 8, 27, 8, 59, 32)),
 (2,
  'PATRICIA',
  'JOHNSON',
  14743,
  datetime.datetime(2005, 8, 21, 22, 41, 56),
  datetime.datetime(2005, 8, 29, 0, 18, 56)),
 (2,
  'PATRICIA',
  'JOHNSON',
  15145,
  datetime.datetime(2005, 8, 22, 13, 53, 4),
  datetime.datetime(2005, 8, 31, 15, 51, 4)),
 (2,
  'PATRICIA',
  'JOHNSON',
  15907,
  datetime.datetime(2005, 8, 23, 17, 39, 35),
  datetime.datetime(2005, 8, 25, 23, 23, 35)),
 (3,
  'LINDA',
  'WILLIAMS',
  435,
  datetime.datetime(2005, 5, 27, 17, 17, 9),
  datetime.datetime(2005, 6, 2, 11, 20, 9)),
 (3,
  'LINDA',
  'WILLIAMS',
  830,
  datetime.datetime(2005, 5, 29, 22, 43, 55),
  datetime.datetime(2005, 6, 1, 17, 43, 55)),
 (3,
  'LINDA',
  'WILLIAMS',
  1546,
  datetime.datetime(2005, 6, 16, 1, 34, 5),
  datetime.datetime(2005, 6, 24, 4, 27, 5)),
 (3,
  'LINDA',
  'WILLIAMS',
  1726,
  datetime.datetime(2005, 6, 16, 15, 19, 10),
  datetime.datetime(2005, 6, 25, 11, 39, 10)),
 (3,
  'LINDA',
  'WILLIAMS',
  1911,
  datetime.datetime(2005, 6, 17, 5, 15, 15),
  datetime.datetime(2005, 6, 24, 11, 5, 15)),
 (3,
  'LINDA',
  'WILLIAMS',
  2628,
  datetime.datetime(2005, 6, 19, 8, 34, 53),
  datetime.datetime(2005, 6, 28, 4, 19, 53)),
 (3,
  'LINDA',
  'WILLIAMS',
  4180,
  datetime.datetime(2005, 7, 7, 10, 23, 25),
  datetime.datetime(2005, 7, 10, 13, 18, 25)),
 (3,
  'LINDA',
  'WILLIAMS',
  4725,
  datetime.datetime(2005, 7, 8, 12, 47, 11),
  datetime.datetime(2005, 7, 15, 9, 8, 11)),
 (3,
  'LINDA',
  'WILLIAMS',
  7096,
  datetime.datetime(2005, 7, 27, 4, 54, 42),
  datetime.datetime(2005, 8, 3, 1, 42, 42)),
 (3,
  'LINDA',
  'WILLIAMS',
  7503,
  datetime.datetime(2005, 7, 27, 20, 23, 12),
  datetime.datetime(2005, 8, 5, 18, 46, 12)),
 (3,
  'LINDA',
  'WILLIAMS',
  7703,
  datetime.datetime(2005, 7, 28, 3, 59, 21),
  datetime.datetime(2005, 8, 5, 8, 52, 21)),
 (3,
  'LINDA',
  'WILLIAMS',
  7724,
  datetime.datetime(2005, 7, 28, 4, 46, 30),
  datetime.datetime(2005, 8, 4, 8, 41, 30)),
 (3,
  'LINDA',
  'WILLIAMS',
  7911,
  datetime.datetime(2005, 7, 28, 11, 46, 45),
  datetime.datetime(2005, 7, 29, 7, 19, 45)),
 (3,
  'LINDA',
  'WILLIAMS',
  8086,
  datetime.datetime(2005, 7, 28, 18, 17, 14),
  datetime.datetime(2005, 7, 30, 18, 22, 14)),
 (3,
  'LINDA',
  'WILLIAMS',
  8545,
  datetime.datetime(2005, 7, 29, 11, 7, 4),
  datetime.datetime(2005, 8, 6, 13, 30, 4)),
 (3,
  'LINDA',
  'WILLIAMS',
  9226,
  datetime.datetime(2005, 7, 30, 13, 31, 20),
  datetime.datetime(2005, 8, 6, 16, 42, 20)),
 (3,
  'LINDA',
  'WILLIAMS',
  9443,
  datetime.datetime(2005, 7, 30, 21, 45, 46),
  datetime.datetime(2005, 8, 5, 21, 22, 46)),
 (3,
  'LINDA',
  'WILLIAMS',
  9595,
  datetime.datetime(2005, 7, 31, 3, 27, 58),
  datetime.datetime(2005, 8, 3, 5, 58, 58)),
 (3,
  'LINDA',
  'WILLIAMS',
  9816,
  datetime.datetime(2005, 7, 31, 11, 32, 58),
  datetime.datetime(2005, 8, 4, 17, 12, 58)),
 (3,
  'LINDA',
  'WILLIAMS',
  10597,
  datetime.datetime(2005, 8, 1, 14, 19, 48),
  datetime.datetime(2005, 8, 8, 20, 1, 48)),
 (3,
  'LINDA',
  'WILLIAMS',
  12556,
  datetime.datetime(2005, 8, 18, 14, 49, 55),
  datetime.datetime(2005, 8, 24, 15, 20, 55)),
 (3,
  'LINDA',
  'WILLIAMS',
  13403,
  datetime.datetime(2005, 8, 19, 22, 18, 7),
  datetime.datetime(2005, 8, 27, 19, 23, 7)),
 (3,
  'LINDA',
  'WILLIAMS',
  13610,
  datetime.datetime(2005, 8, 20, 6, 14, 12),
  datetime.datetime(2005, 8, 26, 0, 44, 12)),
 (3,
  'LINDA',
  'WILLIAMS',
  14699,
  datetime.datetime(2005, 8, 21, 20, 50, 48),
  datetime.datetime(2005, 8, 29, 18, 8, 48)),
 (3,
  'LINDA',
  'WILLIAMS',
  15038,
  datetime.datetime(2005, 8, 22, 9, 37, 27),
  datetime.datetime(2005, 8, 23, 14, 39, 27)),
 (3,
  'LINDA',
  'WILLIAMS',
  15619,
  datetime.datetime(2005, 8, 23, 7, 10, 14),
  datetime.datetime(2005, 8, 26, 7, 21, 14)),
 (4,
  'BARBARA',
  'JONES',
  1297,
  datetime.datetime(2005, 6, 15, 9, 31, 28),
  datetime.datetime(2005, 6, 19, 4, 33, 28)),
 (4,
  'BARBARA',
  'JONES',
  1633,
  datetime.datetime(2005, 6, 16, 8, 8, 40),
  datetime.datetime(2005, 6, 17, 11, 12, 40)),
 (4,
  'BARBARA',
  'JONES',
  1707,
  datetime.datetime(2005, 6, 16, 14, 1, 27),
  datetime.datetime(2005, 6, 18, 9, 35, 27)),
 (4,
  'BARBARA',
  'JONES',
  1735,
  datetime.datetime(2005, 6, 16, 15, 51, 52),
  datetime.datetime(2005, 6, 20, 13, 27, 52)),
 (4,
  'BARBARA',
  'JONES',
  2043,
  datetime.datetime(2005, 6, 17, 14, 31, 12),
  datetime.datetime(2005, 6, 19, 11, 4, 12)),
 (4,
  'BARBARA',
  'JONES',
  2642,
  datetime.datetime(2005, 6, 19, 9, 39, 1),
  datetime.datetime(2005, 6, 25, 8, 33, 1)),
 (4,
  'BARBARA',
  'JONES',
  7660,
  datetime.datetime(2005, 7, 28, 2, 10, 10),
  datetime.datetime(2005, 7, 30, 4, 29, 10)),
 (4,
  'BARBARA',
  'JONES',
  7718,
  datetime.datetime(2005, 7, 28, 4, 37, 59),
  datetime.datetime(2005, 7, 29, 9, 20, 59)),
 (4,
  'BARBARA',
  'JONES',
  8741,
  datetime.datetime(2005, 7, 29, 18, 44, 57),
  datetime.datetime(2005, 8, 3, 18, 25, 57)),
 (4,
  'BARBARA',
  'JONES',
  9100,
  datetime.datetime(2005, 7, 30, 8, 46, 9),
  datetime.datetime(2005, 8, 5, 10, 34, 9)),
 (4,
  'BARBARA',
  'JONES',
  9371,
  datetime.datetime(2005, 7, 30, 18, 58),
  datetime.datetime(2005, 8, 3, 15, 14)),
 (4,
  'BARBARA',
  'JONES',
  11069,
  datetime.datetime(2005, 8, 2, 7, 9, 34),
  datetime.datetime(2005, 8, 8, 8, 39, 34)),
 (4,
  'BARBARA',
  'JONES',
  11110,
  datetime.datetime(2005, 8, 2, 8, 20, 31),
  datetime.datetime(2005, 8, 4, 5, 6, 31)),
 (4,
  'BARBARA',
  'JONES',
  11529,
  datetime.datetime(2005, 8, 17, 0, 28, 1),
  datetime.datetime(2005, 8, 19, 4, 47, 1)),
 (4,
  'BARBARA',
  'JONES',
  12151,
  datetime.datetime(2005, 8, 18, 0, 14, 3),
  datetime.datetime(2005, 8, 18, 23, 52, 3)),
 (4,
  'BARBARA',
  'JONES',
  12294,
  datetime.datetime(2005, 8, 18, 5, 14, 44),
  datetime.datetime(2005, 8, 27, 1, 32, 44)),
 (4,
  'BARBARA',
  'JONES',
  12856,
  datetime.datetime(2005, 8, 19, 2, 19, 13),
  datetime.datetime(2005, 8, 23, 7, 49, 13)),
 (4,
  'BARBARA',
  'JONES',
  13704,
  datetime.datetime(2005, 8, 20, 9, 32, 4),
  datetime.datetime(2005, 8, 23, 14, 29, 4)),
 (4,
  'BARBARA',
  'JONES',
  13807,
  datetime.datetime(2005, 8, 20, 12, 55, 40),
  datetime.datetime(2005, 8, 28, 9, 6, 40)),
 (4,
  'BARBARA',
  'JONES',
  14225,
  datetime.datetime(2005, 8, 21, 4, 53, 37),
  datetime.datetime(2005, 8, 25, 23, 39, 37)),
 (4,
  'BARBARA',
  'JONES',
  15147,
  datetime.datetime(2005, 8, 22, 13, 58, 23),
  datetime.datetime(2005, 8, 28, 14, 33, 23)),
 (4,
  'BARBARA',
  'JONES',
  15635,
  datetime.datetime(2005, 8, 23, 7, 43),
  datetime.datetime(2005, 8, 27, 10, 47)),
 (5,
  'ELIZABETH',
  'BROWN',
  731,
  datetime.datetime(2005, 5, 29, 7, 25, 16),
  datetime.datetime(2005, 5, 30, 5, 21, 16)),
 (5,
  'ELIZABETH',
  'BROWN',
  1085,
  datetime.datetime(2005, 5, 31, 11, 15, 43),
  datetime.datetime(2005, 6, 7, 12, 2, 43)),
 (5,
  'ELIZABETH',
  'BROWN',
  1142,
  datetime.datetime(2005, 5, 31, 19, 46, 38),
  datetime.datetime(2005, 6, 5, 14, 3, 38)),
 (5,
  'ELIZABETH',
  'BROWN',
  1502,
  datetime.datetime(2005, 6, 15, 22, 3, 14),
  datetime.datetime(2005, 6, 23, 18, 42, 14)),
 (5,
  'ELIZABETH',
  'BROWN',
  1631,
  datetime.datetime(2005, 6, 16, 8, 1, 2),
  datetime.datetime(2005, 6, 19, 9, 4, 2)),
 (5,
  'ELIZABETH',
  'BROWN',
  2063,
  datetime.datetime(2005, 6, 17, 15, 56, 53),
  datetime.datetime(2005, 6, 21, 14, 19, 53)),
 (5,
  'ELIZABETH',
  'BROWN',
  2570,
  datetime.datetime(2005, 6, 19, 4, 20, 13),
  datetime.datetime(2005, 6, 25, 7, 0, 13)),
 (5,
  'ELIZABETH',
  'BROWN',
  3126,
  datetime.datetime(2005, 6, 20, 18, 38, 22),
  datetime.datetime(2005, 6, 26, 0, 0, 22)),
 (5,
  'ELIZABETH',
  'BROWN',
  3677,
  datetime.datetime(2005, 7, 6, 9, 11, 58),
  datetime.datetime(2005, 7, 8, 10, 50, 58)),
 (5,
  'ELIZABETH',
  'BROWN',
  4889,
  datetime.datetime(2005, 7, 8, 20, 4, 43),
  datetime.datetime(2005, 7, 13, 17, 57, 43)),
 (5,
  'ELIZABETH',
  'BROWN',
  5016,
  datetime.datetime(2005, 7, 9, 1, 57, 57),
  datetime.datetime(2005, 7, 9, 22, 7, 57)),
 (5,
  'ELIZABETH',
  'BROWN',
  5118,
  datetime.datetime(2005, 7, 9, 7, 13, 52),
  datetime.datetime(2005, 7, 18, 5, 18, 52)),
 (5,
  'ELIZABETH',
  'BROWN',
  5156,
  datetime.datetime(2005, 7, 9, 8, 51, 42),
  datetime.datetime(2005, 7, 15, 3, 59, 42)),
 (5,
  'ELIZABETH',
  'BROWN',
  5721,
  datetime.datetime(2005, 7, 10, 11, 9, 35),
  datetime.datetime(2005, 7, 17, 16, 41, 35)),
 (5,
  'ELIZABETH',
  'BROWN',
  6042,
  datetime.datetime(2005, 7, 11, 3, 17, 4),
  datetime.datetime(2005, 7, 19, 7, 8, 4)),
 (5,
  'ELIZABETH',
  'BROWN',
  6663,
  datetime.datetime(2005, 7, 12, 11, 27, 35),
  datetime.datetime(2005, 7, 21, 16, 35, 35)),
 (5,
  'ELIZABETH',
  'BROWN',
  6685,
  datetime.datetime(2005, 7, 12, 12, 16, 28),
  datetime.datetime(2005, 7, 19, 17, 3, 28)),
 (5,
  'ELIZABETH',
  'BROWN',
  7293,
  datetime.datetime(2005, 7, 27, 12, 37, 28),
  datetime.datetime(2005, 7, 30, 15, 12, 28)),
 (5,
  'ELIZABETH',
  'BROWN',
  7652,
  datetime.datetime(2005, 7, 28, 1, 50, 29),
  datetime.datetime(2005, 7, 30, 22, 23, 29)),
 (5,
  'ELIZABETH',
  'BROWN',
  7829,
  datetime.datetime(2005, 7, 28, 8, 43, 39),
  datetime.datetime(2005, 8, 4, 14, 33, 39)),
 (5,
  'ELIZABETH',
  'BROWN',
  8263,
  datetime.datetime(2005, 7, 29, 1, 11, 23),
  datetime.datetime(2005, 7, 31, 1, 53, 23)),
 (5,
  'ELIZABETH',
  'BROWN',
  8978,
  datetime.datetime(2005, 7, 30, 4, 14, 28),
  datetime.datetime(2005, 8, 6, 9, 8, 28)),
 (5,
  'ELIZABETH',
  'BROWN',
  9493,
  datetime.datetime(2005, 7, 30, 23, 52, 30),
  datetime.datetime(2005, 8, 8, 5, 22, 30)),
 (5,
  'ELIZABETH',
  'BROWN',
  9888,
  datetime.datetime(2005, 7, 31, 14, 0, 53),
  datetime.datetime(2005, 8, 8, 18, 51, 53)),
 (5,
  'ELIZABETH',
  'BROWN',
  10609,
  datetime.datetime(2005, 8, 1, 14, 48, 45),
  datetime.datetime(2005, 8, 4, 13, 41, 45)),
 (5,
  'ELIZABETH',
  'BROWN',
  10625,
  datetime.datetime(2005, 8, 1, 15, 27, 10),
  datetime.datetime(2005, 8, 2, 13, 16, 10)),
 (5,
  'ELIZABETH',
  'BROWN',
  11001,
  datetime.datetime(2005, 8, 2, 4, 56, 45),
  datetime.datetime(2005, 8, 11, 8, 4, 45)),
 (5,
  'ELIZABETH',
  'BROWN',
  11179,
  datetime.datetime(2005, 8, 2, 10, 50, 6),
  datetime.datetime(2005, 8, 4, 5, 24, 6)),
 (5,
  'ELIZABETH',
  'BROWN',
  11930,
  datetime.datetime(2005, 8, 17, 16, 28, 53),
  datetime.datetime(2005, 8, 25, 10, 31, 53)),
 (5,
  'ELIZABETH',
  'BROWN',
  12145,
  datetime.datetime(2005, 8, 18, 0, 10, 4),
  datetime.datetime(2005, 8, 26, 0, 51, 4)),
 (5,
  'ELIZABETH',
  'BROWN',
  12797,
  datetime.datetime(2005, 8, 19, 0, 24, 8),
  datetime.datetime(2005, 8, 21, 22, 53, 8)),
 (5,
  'ELIZABETH',
  'BROWN',
  13063,
  datetime.datetime(2005, 8, 19, 9, 45, 41),
  datetime.datetime(2005, 8, 24, 9, 11, 41)),
 (5,
  'ELIZABETH',
  'BROWN',
  13209,
  datetime.datetime(2006, 2, 14, 15, 16, 3),
  None),
 (5,
  'ELIZABETH',
  'BROWN',
  13877,
  datetime.datetime(2005, 8, 20, 15, 16, 18),
  datetime.datetime(2005, 8, 22, 18, 20, 18)),
 (5,
  'ELIZABETH',
  'BROWN',
  14053,
  datetime.datetime(2005, 8, 20, 22, 13, 59),
  datetime.datetime(2005, 8, 26, 20, 50, 59)),
 (5,
  'ELIZABETH',
  'BROWN',
  14430,
  datetime.datetime(2005, 8, 21, 11, 31, 11),
  datetime.datetime(2005, 8, 26, 6, 29, 11)),
 (5,
  'ELIZABETH',
  'BROWN',
  14494,
  datetime.datetime(2005, 8, 21, 14, 2, 50),
  datetime.datetime(2005, 8, 22, 16, 45, 50)),
 (5,
  'ELIZABETH',
  'BROWN',
  15232,
  datetime.datetime(2005, 8, 22, 17, 37, 2),
  datetime.datetime(2005, 8, 25, 18, 45, 2)),
 (6,
  'JENNIFER',
  'DAVIS',
  57,
  datetime.datetime(2005, 5, 25, 8, 43, 32),
  datetime.datetime(2005, 5, 29, 6, 42, 32)),
 (6,
  'JENNIFER',
  'DAVIS',
  577,
  datetime.datetime(2005, 5, 28, 11, 9, 14),
  datetime.datetime(2005, 6, 1, 13, 27, 14)),
 (6,
  'JENNIFER',
  'DAVIS',
  916,
  datetime.datetime(2005, 5, 30, 11, 25, 1),
  datetime.datetime(2005, 5, 31, 9, 6, 1)),
 (6,
  'JENNIFER',
  'DAVIS',
  1575,
  datetime.datetime(2005, 6, 16, 3, 41, 38),
  datetime.datetime(2005, 6, 22, 3, 1, 38)),
 (6,
  'JENNIFER',
  'DAVIS',
  1841,
  datetime.datetime(2005, 6, 16, 23, 44, 13),
  datetime.datetime(2005, 6, 22, 4, 9, 13)),
 (6,
  'JENNIFER',
  'DAVIS',
  1966,
  datetime.datetime(2005, 6, 17, 9, 19, 45),
  datetime.datetime(2005, 6, 20, 11, 19, 45)),
 (6,
  'JENNIFER',
  'DAVIS',
  2345,
  datetime.datetime(2005, 6, 18, 12, 3, 23),
  datetime.datetime(2005, 6, 22, 14, 25, 23)),
 (6,
  'JENNIFER',
  'DAVIS',
  3983,
  datetime.datetime(2005, 7, 6, 23, 14, 21),
  datetime.datetime(2005, 7, 12, 17, 55, 21)),
 (6,
  'JENNIFER',
  'DAVIS',
  4278,
  datetime.datetime(2005, 7, 7, 14, 53, 24),
  datetime.datetime(2005, 7, 13, 14, 21, 24)),
 (6,
  'JENNIFER',
  'DAVIS',
  5553,
  datetime.datetime(2005, 7, 10, 3, 3, 35),
  datetime.datetime(2005, 7, 14, 7, 49, 35)),
 (6,
  'JENNIFER',
  'DAVIS',
  6211,

In [29]:
customers_rentals = pd.DataFrame(q_result)
customers_rentals

         0       1        2      3                   4                   5
0        1    MARY    SMITH     76 2005-05-25 11:30:37 2005-06-03 12:00:37
1        1    MARY    SMITH    573 2005-05-28 10:35:23 2005-06-03 06:32:23
2        1    MARY    SMITH   1185 2005-06-15 00:54:12 2005-06-23 02:42:12
3        1    MARY    SMITH   1422 2005-06-15 18:02:53 2005-06-19 15:54:53
4        1    MARY    SMITH   1476 2005-06-15 21:08:46 2005-06-25 02:26:46
...    ...     ...      ...    ...                 ...                 ...
16039  599  AUSTIN  CINTRON  14599 2005-08-21 17:43:42 2005-08-22 18:53:42
16040  599  AUSTIN  CINTRON  14719 2005-08-21 21:41:57 2005-08-25 20:37:57
16041  599  AUSTIN  CINTRON  15590 2005-08-23 06:09:44 2005-09-01 06:53:44
16042  599  AUSTIN  CINTRON  15719 2005-08-23 11:08:46 2005-08-25 07:25:46
16043  599  AUSTIN  CINTRON  15725 2005-08-23 11:25:00 2005-08-26 11:46:00

[16044 rows x 6 columns]

# Challenge 1 - Working with JSON files
Import the pandas library.

In [30]:
# your code here

import pandas as pd

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [31]:
# your code here

nasa = pd.read_json("nasa.json")

Now that we have loaded the data, let's examine it using the head() function.

In [32]:
# your code here

nasa.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [33]:
# your code here

nasa["fall"].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [34]:
# your code here

nasa_output = nasa.to_json("nasa-output.json", orient="records")

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [35]:
#Your pandas import here:

import pandas as pd

In [36]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [37]:
# Your code here:

shuttle = pd.read_csv(tst_url, sep = " ", names = cols)

Let's verify that this worked by looking at the `head()` function.

In [38]:
# Your code here:

shuttle.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [39]:
# Your code here:

shuttle.to_csv("shuttle.csv", index = False, header = False)

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [40]:
# Your code here:

astronaut = pd.read_excel("astronauts.xls")

Use the `head()` function to inspect the dataframe.

In [41]:
# Your code here:

astronaut.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [42]:
# Your code here:

astronaut['Undergraduate Major'].value_counts()

Physics                                  35
Aerospace Engineering                    33
Mechanical Engineering                   30
Aeronautical Engineering                 28
Electrical Engineering                   23
                                         ..
Astronomy                                 1
Marine Engineering & Nautical Science     1
Philosophy                                1
Bioscience                                1
Military Science                          1
Name: Undergraduate Major, Length: 83, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [43]:
# Your code here:

astronaut.to_csv("astronaut.csv", sep = "\t", index = False)

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [47]:
# Your code here:

columns = ["Season in which the analysis was performed", "Age at the time of analysis", "Childish diseases (ie , chicken pox, measles, mumps, polio)", "Accident or serious trauma", "Surgical intervention", "High fevers in the last year", "Frequency of alcohol consumption", "Smoking habit", "Number of hours spent sitting per day ene-16", "Output"]
fertility = pd.read_csv("fertility_Diagnosis.txt", names = columns)
fertility.head()

,Season in which the analysis was performed,Age at the time of analysis,"Childish diseases (ie , chicken pox, measles, mumps, polio)",Accident or serious trauma,Surgical intervention,High fevers in the last year,Frequency of alcohol consumption,Smoking habit,Number of hours spent sitting per day ene-16,Output
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O